html,
body {
  margin: 0;
  padding: 0;

  color: var(--black);
  background: #F5F6F8;

  font-family: "Noto Sans", sans-serif;
  font-size: 10px;
}


a {
  text-decoration: none;

  color: inherit;
}

* {
  box-sizing: border-box;
}

:root {
  --black: #3B434E;
  --black-light: #515354;
  --gray-light: #EBEBEB;
  --gray: #A4A4A4;
  --gray-dark: #6C7077;
  --white: white;
  --primary:  #6344DF;
  --primary-hover: #7351F5;
  --red: #FC8360;
  --red-light: #C78670;
  --green: #188d61;
  --green-light: #44987e;
  --blue: #282ac0;
  --blue-hover: #4749f3;
  --root: #42c8f1;
  --font-family: "Noto Sans", sans-serif;

  --border-radius-s: 5px;
  --border-radius-m: 10px;
}